.marketplace-hero {
  background: color(scrub) image-url("marketplace_hero.png") bottom right
    no-repeat;
  background-size: contain;
  margin-top: -4rem;
  padding-top: 10rem;
}

.marketplace-integrations {
  @include respond-to(md) {
    background: color(hull);
    background-size: contain;
    padding: 8rem 0 4rem 8rem;
  }
}

.marketplace-image {
  padding: 0 !important;

  img {
    display: block !important;
    width: 100%;
  }
}

.marketplace-cards {
  width: 100%;
  padding-bottom: 4rem;

  img {
    display: block;
    object-fit: contain;
    width: 100%;
  }
}
