$breakpoints: (
  null: 0,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

$colors: (
  "transparent": transparent,
  "admiral": #3f33ea,
  "scrub": #00d6b3,
  "marin": #ea7939,
  "saarinen": #ca3c1d,
  "shell": #f8b0bd,
  "midcentury": #efc943,
  "funnies": #efceb9,
  "pelham": #4fc9ef,
  "belaire": #b0e0e6,
  "k": #282727,
  "hull": #425466,
  "hull_light": #99abbc,
  "fog": #f1f7f8,
);

$sizes: (
  xsmall: 0.5rem,
  small: 1rem,
  medium: 2rem,
  large: 4rem,
  xlarge: 6rem,
  xxlarge: 8rem,
  xxxlarge: 10rem,
);
