<section class="breakout bgcolor-midcentury margin-bottom-large">
  <div class="columns margin-y-xlarge fade-in">
    <div class="column column--66 column--center-children">
      <p class="large color-quartz">
        <%= yield(:superhead) %>
      </p>
      <h4 class="color-fog display">
        <%= yield(:headline) %>
      </h4>
    </div>
  </div>
</section>