<footer class="breakout bgcolor-belaire padding-y-xxlarge">
  <div class="columns">

    <div class="column">
      <ul class="margin-top-small">
        <li>Copyright &copy; 2020 Workpath</li>
        <li>All rights reserved</li>
      </ul>
    </div>

    <div class="column column--is-flex">

      <div class="column">
        <p class="large">Company</p>
        <ul class="margin-top-small">
          <li><a href="/company">Company</a></li>
          <li><a href="/platform">Platform</a></li>
          <li><a href="/casestudies">Case Studies</a></li>
          <li><a href="https://blog.workpath.co">Blog</a></li>
        </ul>
      </div>

      <div class="column">
        <p class="large">Resources</p>
        <ul class="margin-top-small">
          <li><a href="/careers">Careers</a></li>
          <li><a href="https://help.workpath.co">Help Center</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/tos">Terms of Service</a></li>
        </ul>
      </div>

      <div class="column">
        <p class="large">Follow Us</p>
        <ul class="margin-top-small">
          <li><a href="https://www.linkedin.com/company/workpathco/">LinkedIn</a>
          </li>
          <li><a href="http://eepurl.com/gNXcnH">Join the mailing list</a></li>
          <li>For media inquiries: press@workpath.co</li>
        </ul>
      </div>

    </div>
  </div>
</footer>