<% content_for :meta_title, "Book a demo • #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Book a demo today and eee for yourself how Workpath can revolutionize your mobile workflow." %>

<div class="columns margin-top-xxlarge">
  <div class="column column--50">
    <h4>
      See for yourself how Workpath can revolutionize your mobile workflow.
    </h4>
    <p class="large">
      At Workpath, we're changing the way mobile healthcare gets done. Get a
      demo to find out how easy it is to see improvements like these:
    </p>
    <ul class="generic">
      <li>40% Decrease in phone calls</li>
      <li>65% Reduction in Email</li>
      <li>90% Reduction in Scheduling Time</li>
      <li>97% Of Appointments Require No Manual Intervention</li>
      <li>98% Appointment Compliance</li>
      <li>99% Patient Satisfaction</li>
    </ul>
  </div>
  <div class="column column--50">
    <div class="demoForm">
      <!--[if lte IE 8]>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
      <![endif]-->
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
      <script>
        hbspt.forms.create({
        portalId: "7008422",
        formId: "0f0c2b6b-4ac2-4779-ad5b-6636c7161079"
      });
      </script>
    </div>
  </div>
</div>