<% content_for :meta_title, "Book a demo • #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Book a demo today and eee for yourself how Workpath can revolutionize your mobile workflow." %>

<div class="columns">
  <div class="column column--50">
    <h4>
      See for yourself how Workpath can revolutionize your mobile workflow.
    </h4>
    <p class="large">
      At Workpath, we're changing the way mobile healthcare gets done. Get a
      demo to find out how easy it is to see improvements like these:
    </p>
    <ul class="generic">
      <li>40% Decrease in phone calls</li>
      <li>65% Reduction in Email</li>
      <li>90% Reduction in Scheduling Time</li>
      <li>97% Of Appointments Require No Manual Intervention</li>
      <li>98% Appointment Compliance</li>
      <li>99% Patient Satisfaction</li>
    </ul>
  </div>
  <div class="column column--50">
    <form class="demoForm">
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" placeholder="First Name" required>
      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" placeholder="Last Name" required>
      <label for="email">Email</label>
      <input type="text" id="email" placeholder="Email" required>
      <label for="phone">Phone Number</label>
      <input type="text" id="phone" placeholder="Phone" required>
      <label for="companyname">Company Name</label>
      <input type="text" id="companyname" placeholder="Company Name">
      <label for="companysize">Company Size</label>
      <select id="companysize">
        <option value="">1-50</option>
        <option value="">51-200</option>
        <option value="">201-500</option>
        <option value="">501-1,000</option>
        <option value="">1001-10,000</option>
        <option value="">10,000+</option>
      </select>
      <input type="submit" class="btn">
    </form>
  </div>
</div>