<!-- frontmatter -->
<% content_for :meta_title, "Case Studies • #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Workpath has unlocked operational efficiencies that allow home health organizations to optimize labor utilization and increase patient volumes." %>
<% content_for :body_class, "casestudy" %>

<!-- hero -->
<%= react_component("Hero", {superhead: "Case Study", headline: "Workpath for Telemedicine"}) %>

<!-- main content -->

<div class="columns columns--center-items">

  <div class="column column--66 margin-bottom-medium">
    <h5 class="margin-bottom-medium">Workpath has unlocked operational efficiencies that allow home health organizations to optimize labor utilization and increase patient volumes.</h5>

    <p>Home health organizations have robust teams of healthcare providers capable of performing various services in the patient home. What home health organizations lack is an effective, automated way to manage the capabilities of their team members and ensure that the ‘best match’ is servicing every patient.</p>

    <p>With Workpath, home health organizations no longer need to rely on robust spreadsheets to manage their team’s capabilities. They can build out user profiles, create Tags to manage service capabilities, credentials and professional licenses and even manage when those licenses expire. The scheduling team can then rely on Workpath’s intelligence to find the ‘best match’ for every patient, whether that’s based on technical capabilities, licenses, location proximity, availability, or another business rule. Workpath has unlocked operational efficiencies that allow home health organizations to optimize labor utilization and increase patient volumes.</p>
    
  </div>
</div>

<%= render "shared/demo" %>



