<!-- frontmatter -->
<% content_for :meta_title, "Case Studies • #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Memorial Sloan Kettering Cancer Center improved patient experience by implementing at-home phlebotomy appointments." %>
<% content_for :body_class, "casestudy" %>

<!-- hero -->
<%= react_component("Hero", {superhead: "Case Study", headline: "Workpath for Medical Imaging"}) %>

<!-- main content -->

<div class="columns">

  <div class="column">
    Teaser
  </div>

  <div class="column column--66 margin-bottom-medium">
    <h5 class="margin-bottom-medium">Memorial Sloan Kettering Cancer Center improved patient experience by implementing at-home phlebotomy appointments.</h5>

    <h5>Challenge</h5>

    <p>Roshal Imaging Services is a national provider of scheduled and on-demand ultrasound services to healthcare facilities. They guarantee an imaging technologist will be on-site in 60 minutes or less--24 hours a day, 365 days a year.</p>

    <p>Before implementing Workpath, Roshal Imaging Services relied on call trees and a call center staff to manage order intake, technologist qualification and identification, and dispatch for hundreds of appointments daily.</p>

    <h5>Workpath's solution</h5>

    <p>With Workpath and Siemens Healthineers’ CrewPlace&trade; platform, Roshal Imaging Services now receives orders electronically, has automated their labor selection process, and dispatches technologists in less than a minute from order creation without call center staff intervention.</p>

    <p>Building on this success, Siemens Healthineers leverages Workpath to provide their partner hospitals and healthcare facilities with on-demand visibility into their technologist staffing and allows facilities to easily expand their labor pool by tapping into the Siemens Healthineers network of imaging technologists and sonographers.</p>

    <p>Using Workpath’s customized dashboard, Siemens Healthineers can also provide real-time reporting on imaging technologist work status, utilization, service volume, and other insights that are not available through traditional scheduling or dispatch solutions.</p>

    <blockquote>
      <p>"Workpath enables our customers—from hospitals to outpatient imaging centers to urgent care facilities and beyond—to address the increasing need for imaging studies and the shortage of radiologic technologists." --Nanci Wozniak Vice President of Education &amp; Workforce Solutions at Siemens Healthineers</p>
    </blockquote>

  </div>
</div>


