<!-- frontmatter -->
<% content_for :meta_title, "Case Studies • #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Phlebotek, the largest phlebotomy solutions agency in the U.S., leveraged Workpath to scale operations while minimizing costs." %>
<% content_for :body_class, "casestudy" %>

<!-- hero -->
<%= react_component("Hero", {superhead: "Case Study", headline: "Workpath for Mobile Phlebotomy"}) %>

<!-- main content -->

<div class="columns">

  <div class="column">
    Teaser
  </div>

  <div class="column column--66 margin-bottom-medium">
    <h5 class="margin-bottom-medium">Phlebotek, the largest phlebotomy solutions agency in the U.S., leveraged Workpath to scale operations while minimizing costs.</h5>

    <h5>Challenge</h5>

    <p>Phlebotomy—drawing blood—is essential to healthcare. 70% of healthcare decisions involve the analysis of a patient's bloodwork. As healthcare becomes ever more patient-centric, quality mobile phlebotomy services are more in demand than ever. Yet connecting these services with patients when and where they need them can often be constrained by outdated workflows and inefficient processes.</p>

    <p>Before Workpath staffing an on-site job for a customer was a manual process; sorting through a spreadsheet of names to find out who was in the area, and who held the right qualifications and supplies. Phlebotek staff would then email and call phlebotomists until they found someone to cover the job, more time-consuming manual work.</p>

    <p>
    Finally, once a phlebotomist accepted an assignment, Phlebotek staff would manually write up the details and attach the job instructions to an email while sending a separate manual email updating the customer.</p>

    <h5>Workpath's Solution</h5>

    <p>With Workpath, Phlebotek automated the process of finding coverage, notifying phlebotomists about work opportunities, communicating job details, and monitoring job status.</p>

    <p>Phlebotek’s customers have gained access to automated alerts about job status and can monitor, in real-time, the status of jobs as the phlebotomist travels to and completes the job.</p>

    <p>The individual phlebotomists have instant access to the job details in the Workpath app, can easily accept the job opportunity without the need to manually call Phlebotek staff, receive in-app navigation and job instructions, and can automate alerts to the customer and patient letting them know when they are on the way.</p>

    <blockquote>
      <p>"Workpath has helped reduce the manpower needed for each job while growing our volume. If we didn’t have the Workpath system we would still have to focus an additional 5 to 10 people working on all of our accounts just to get everything done. <br/>-- Jacqueline Rivera, COO at Phlebotek
      </p>
  </div>
</div>