<!-- frontmatter -->
<% content_for :meta_title, "Case Studies • #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Memorial Sloan Kettering Cancer Center improved patient experience by implementing at-home phlebotomy appointments." %>
<% content_for :body_class, "casestudy" %>

<!-- hero -->
<%= react_component("Hero", {superhead: "Case Study", headline: "Workpath for Outpatient Services"}) %>

<!-- main content -->

<div class="stats">
  <dl class="stat">
    <dt>100%</dt>
    <dd>Patient satisfaction rating</dd>
  </dl>
  <dl class="stat">
    <dt>100%</dt>
    <dd>Would refer the Workpath model</dd>
  </dl>
  <dl class="stat">
    <dt>120</dt>
    <dd>Projected net increase in patients per day</dd>
  </dl>
  <dl class="stat">
    <dt>$2mm</dt>
    <dd>Projected combined cost savings and increased revenue</dd>
  </dl>
</div>

<div class="columns columns--center-items">

  <div class="column column--66 margin-bottom-medium">
    <h5 class="margin-bottom-medium">Memorial Sloan Kettering Cancer Center improved patient experience by implementing at-home phlebotomy appointments.</h5>

    <h5>Challenge</h5>

    <p>While hospitals and health systems around the country are working to provide the best care possible in cancer treatment centers, they have inadvertently built processes that are leading to throughput inefficiencies and poor patient experience.</p>

    <p>At Memorial Sloan Kettering Cancer Center in New York City, cancer patients arrived at the treatment center in the morning, had blood drawn, then waited, sometimes for hours, while the blood work was analyzed by the lab. The lab analysis was used to determine whether the patient was eligible to receive chemotherapy that day. If the patient was not eligible the patient was sent home and asked to return at a later date. This process resulted in a poor patient experience, lost throughput due to ineligible patients taking up chemotherapy chair time, and unnecessary waste from unused, pre-mixed chemo drugs.</p>

    <h5>Workpath's Solution</h5>

    <p>Given the current status of delivering chemotherapy in U.S. healthcare facilities, Workpath set out to disrupt this inefficient and ineffective model with Memorial Sloan Kettering.</p>

    <p>With Workpath, Memorial Sloan Kettering moved care to the patient home by dispatching phlebotomists to collect patient blood work. Memorial Sloan Kettering built step-by-step protocols in the Workpath app to guide the phlebotomist through the collection and intelligently routed the phlebotomist to the patient’s home and subsequently to the nearest hospital lab to deliver the specimen.</p>

    <p>Throughout the appointment life-cycle, the patient received automated communication, via text and email.</p>

    <p>Workpath was able to remove wait times, increase patient satisfaction, minimize time in the facility for vulnerable, immunocompromised patients, all while reducing costs and increasing revenue for Memorial Sloan Kettering.</p>

  </div>

</div>

<%= render "shared/demo" %>


