<!-- frontmatter -->
<% content_for :meta_title, "Case Studies • #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "High-growth paramedical examiner, Paramed Express, leverages Workpath to scale operations." %>
<% content_for :body_class, "casestudy" %>

<!-- hero -->
<%= react_component("Hero", {superhead: "Case Study", headline: "Workpath for Paramedical Exams"}) %>

<!-- main content -->

<div class="columns">

  <div class="column">
    Teaser
  </div>

  <div class="column column--66 margin-bottom-medium">
    <h5 class="margin-bottom-medium">High-growth paramedical examiner, Paramed Express, leverages Workpath to scale operations.</h5>

    <h5>Challenge</h5>
    <p>The paramedical life insurance exam industry is inhibited by fragmentation, low transparency, and manual processes. Insurance agents contract with paramedical exam companies who in turn contract with individual examiners to perform the exams. The many layers mean the process is opaque for agent and applicant alike and frequent delayed or missed appointments mean lost revenue for all parties when they lead to abandoned applications.</p>

    <p>Most paramedical examiners require agent customers to call with details for an applicant. The company then assigns an examiner; some current scheduling systems digitally assign examiners but often contain outdated or inaccurate availability information. Finally, it is left to the individual examiner to contact the applicant and find a date and time for the exam. Only if and when the exam is complete will the agent receive an update.</p>

    <p>Paramed Express, a rapidly expanding paramedical examiner serving the southeastern United States, saw this cumbersome process as an opportunity to gain a competitive advantage.</p>

    <h5>Workpath's Solution</h5>
    <p>With Workpath, Paramed Express provides its agent customers with an online portal to digitally submit paramedical exam requests, monitor visit status, and digitally receive paperwork for the completed exam.</p>

    <p>Individual examiners update their schedules through the Workpath app providing Paramed Express with real-time, accurate availability information. Workpath then automates the identification of the best examiner option for each exam based on qualifications, proximity, and availability allowing Paramed Express to scale operations while minimizing staff count.</p>

    <p>Once assigned an order, individual examiners provide real-time status updates through the Workpath app, so agents know exactly where in the process each application is.</p>

    <p>Upon implementation, Paramed Express agent customers gushed at the new scheduling transparency. One wrote, “Workpath is such a game changer. We’ll definitely be utilizing it more.” Another said, “I love the new system. It’s fabulous!”</p>

    <p>Applicants gained transparency, too. They receive automated emails and text messages throughout the appointment life cycle, including when an examiner is on the way, improving satisfaction and minimizing application abandonment.</p>

    <blockquote>
      <p>"I don’t know how I lived without Workpath. It has allowed my business to run smoothly and we're in a much better direction of growth. My clients and patients love it! <br/>--Aundrea Harris Owner, Paramed Express</p>
    </blockquote>
  </div>
</div>



