<!-- frontmatter -->
<% content_for :meta_title, "Case Studies • #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "One of the largest reference laboratories in North America leveraged Workpath to implement a new mobile phlebotomy program." %>
<% content_for :body_class, "casestudy" %>

<!-- hero -->
<%= react_component("Hero", {superhead: "Case Study", headline: "Workpath for Reference Labs"}) %>

<!-- main content -->

<div class="columns">

  <div class="column">
    Teaser
  </div>

  <div class="column column--66 margin-bottom-medium">
    <h5 class="margin-bottom-medium">One of the largest reference laboratories in North America leveraged Workpath to implement a new mobile phlebotomy program to improve the patient experience while increasing compliance with physician orders.</h5>

    <h5>Challenge</h5>

    <p>Before Workpath, one major reference laboratory performed phlebotomy (blood draws) in service centers where patients would arrive, wait in a queue, sometimes for hours, to eventually meet with a phlebotomist and get blood drawn. This inconvenient experience caused high levels of patient dissatisfaction and, in some cases, led to patients not following through with physician-ordered blood work; resulting in lost revenue.</p>

    <p>To provide the patients with an alternative experience to getting drawn in a service center, the reference laboratory decided to implement a mobile phlebotomy program for their patients. This enabled patients to receive blood work in the location of their choice, like their home or workplace, with the goal of providing a more convenient experience.</p>

    <h5>Workpath's Solution</h5>

    <p>With Workpath, the reference laboratory, within a matter of weeks, implemented a mobile phlebotomy program with automated physician order intake from EHRs to reduce duplication of orders by a physician; patient self-scheduling to give patients flexibility, phlebotomist dispatching to remove out-dated workflows, and optimized phlebotomist routing and tracking throughout the job to remove manual communication.</p>

    <p>Patients easily enter their address and pick the date and time for their appointment via a link sent via SMS or email. They then receive automated communication throughout the appointment lifecycle, including a link to track the phlebotomist’s location en route and expected arrival time.</p>
  </div>
</div>



