<!-- frontmatter -->
<% content_for :meta_title, "Case Studies • #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Workpath is allowing telemedicine companies to expand service offerings without the need for robust operational teams." %>
<% content_for :body_class, "casestudy" %>

<!-- hero -->
<%= react_component("Hero", {superhead: "Case Study", headline: "Workpath for Telemedicine"}) %>

<!-- main content -->

<div class="columns">

  <div class="column">
    Teaser
  </div>

  <div class="column column--66 margin-bottom-medium">
    <h5 class="margin-bottom-medium">Workpath is allowing telemedicine companies to expand service offerings without the need for robust operational teams.</h5>

    <p>Telemedicine is advancing patient access, convenience, and affordability across healthcare. However, Telemedicine is constrained from offering services that require physical interaction which is leading innovative telemedicine companies to offer in-person services.</p>

    <p>With Workpath, telemedicine companies can remain operationally efficient when extending service offerings to the location of the patient. Telemedicine companies are integrating with Workpath to direct care to the patient home when point of care testing or wellness visits are deemed necessary via a virtual visit. The use of Workpath is allowing telemedicine companies to expand service offerings without the need for robust operational teams.</p>
  </div>
</div>



