<% content_for :meta_title, "Case Studies • #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "A major on-demand drug testing company leverages Workpath to halve collector response times." %>

<section class="breakout bgcolor-midcentury margin-bottom-large">
  <div class="columns margin-y-xlarge fade-in">
    <div class="column column--66 column--center-children">
      <p class="large color-quartz">Use Cases</p>
      <h4 class="color-fog display">Workpath for Home Health</h4>
    </div>
  </div>
</section>

<div class="columns">

  <div class="column">
    Teaser
  </div>

  <div class="column column--66 margin-bottom-medium">
    <h5 class="margin-bottom-medium">A major on-demand drug testing company leverages Workpath to halve collector response times.</h5>

    <h5>Challenge</h5>

    <p>Time is of the essence in the on-site drug and alcohol testing industry. When a workplace accident occurs, companies regulated by the U.S. Department of Transportation are legally required to have involved employees drug tested. They depend on drug testing companies to dispatch a DOT-qualified specimen collector to the accident site within a narrow time window.</p>

    <p>Before implementing Workpath, one major drug testing company relied on a call center to locate and dispatch qualified collectors to accident sites. After receiving customer requests, call center operators manually searched a database of collector names and then called down the list until they secured coverage. In one city, it could take as much as 1 hour from the time an order was placed simply to dispatch a collector.</p>

    <p>To scale, while improving response time, the drug testing company needed to either expand its call center headcount or find an automated dispatch solution.</p>

    <h5>Workpath's Solution</h5>
    <p>With Workpath, the major drug testing company receives work orders directly into an integrated digital order intake portal, automatically creating work opportunities.</p>

    <p>Workpath’s intelligence filters the drug testing company’s network of collectors to automatically identify qualified and available collectors nearest the accident site.</p>

    <p>The eligible collectors are notified of the work opportunity via their mobile phones on which they can accept, easily navigate to the job site location, and provide status updates in real-time.</p>
  </div>
</div>
