@import "../base/base";

.btn,
input[type="submit"] {
  background: color(k);
  border-radius: 100px;
  text-align: center;
  color: color(fog);
  font-size: 1rem;
  line-height: 1;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  @include animate(0.15s, ease-in-out);
  display: inline-block;
  margin: 1rem 1rem 0 0;

  &:hover {
    background: #111;
  }

  &--ghost {
    background: white;
    color: color(k);
    border: 1px solid color(k);

    &:hover {
      background: color(fog);
      color: color(k);
    }
  }

  &--blank {
    background: white;
    color: color(sky);
    border: 1px solid white;
    padding: 0.75rem 0;

    &:hover {
      background: white;
      color: color(k);
    }
  }
}
