<% content_for :meta_title, "Workpath Connect • #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Workpath combines labor access with cutting-edge technology to enable blood draws and other specimen collections wherever and whenever." %>

<section class="breakout padding-large bgcolor-scrub marketplace-hero">
	<div class="columns">
		<div class="column column--66">
			<h5 class="color-admiral">Workpath Connect™</h5>
			<h1 class="color-fog">Your turnkey solution for mobile specimen collection services</h1>
			<p class="xlarge color-fog">Workpath combines labor access with cutting-edge technology to enable blood draws and other specimen collections wherever and whenever.</p>
			<a href="#" class="btn">
				Book a call to learn more
			</a>
		</div>
	</div>
</section>

<section class="breakout padding-large">
	<div class="columns">
		<div class="column">
			<h5 class="color-admiral">Benefits</h5>
			<h3>Labor meets technology.</h3>
		</div>
	</div>
	<div class="columns">
		<div class="column column--50">
			<p>Augment your employee/contractor team or build a completely outsourced team</p>
			<p>Compare multiple providers; sort by cost, coverage, and more</p>
			<p>Tap Workpath’s national network of mobile specimen collection service providers - phlebotomy, urine collection, etc.</p>
		</div>
		<div class="column column--50">
			<p>Augment your employee/contractor team or build a completely outsourced team</p>
			<p>Compare multiple providers; sort by cost, coverage, and more</p>
			<p>Tap Workpath’s national network of mobile specimen collection service providers - phlebotomy, urine collection, etc.</p>
		</div>
	</div>
</section>

<section class="breakout padding-large bgcolor-fog">
	<div class="columns">
		<div class="column">
			<h5 class="color-admiral">How it works</h5>
			<h3>Put your team on the path.</h3>
		</div>
	</div>
</section>

<section class="breakout bgcolor-fog">
	<div class="marketplace-cards">
		<%=image_tag "marketplace_cards", alt: "Workpath steps" %>
	</div>
</section>


<section class="breakout padding-large bgcolor-pelham marketplace-integrations">
	<div class="columns">
		<div class="column">
			<h5 class="color-admiral">You’re in control</h5>
			<h3 class="color-fog">Workpath puts you in charge.</h3>
		</div>
	</div>
	<div class="columns">
		<div class="column column--50">
			<p class="large color-fog">Control Protocols</p>
			<p class="color-fog">Enter and automatically issue your own custom protocols for specimen collection.</p>
			
			<p class="large color-fog">Control Patient Experience</p>
			<p class="color-fog">Send auto-notifications to patients so they always know when and what to expect from their appointment.</p>
			
			<p class="large color-fog">Control Costs</p>
			<p class="color-fog">Slash scheduling time and cumbersome back-and-forth emails, texts, and calls.</p>
			
			<%=image_tag "marketplace_integrations", alt: "Workpath integrates with stuff you already use" %>
			
			<p class="large color-fog">Integrate with systems you already use</p>
			<p class="color-fog">Connect with existing EHRs, CRMs, billing and other legacy systems.</p>
			
			<a href="#" class="btn">
				Book a call to learn more
			</a>
		</div>
	</div>
</section>

			